<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autentia.demo.mapper.SampleMapper">

    <select id="getMessageByNodo" resultType="String">
    	SELECT DESC_NODO FROM mysql.MENSAJE_NODO where ID_NODO = #{nodo}
    </select>
</mapper>